<h1>All Ads</h1>
<% @advertisements.each do |ad| %>
    <div cladd="media">
        <div class="media-body">
            <h3 class="media-heading">
                <%= link_to "$#{ad.price}: #{ad.title}", ad %>
            </h3>
        </div>
    </div>
<% end %>