// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.avatar {
    margin-bottom: 0.5em 0em 0.5em 0em;
    border-radius: 50%;
    width: 2em ;
    height: auto;
 }